extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1= pagina
                blockquote Un año nuevo viene siempre cargado de oportunidades, de retos y de viajes. Viajes grandes, viajes pequeños, viajes planeados, viajes improvisados, viajes soñados. Pero, ¿cuáles son los mejores destinos para viajar en este año. Tellus at urna condimentum mattis pellentesque id nibh tortor. Lobortis mattis aliquam faucibus purus in massa. Pretium aenean pharetra magna ac placerat. Nam libero justo laoreet sit amet cursus. Risus feugiat in ante metus dictum at tempor. Viverra justo nec ultrices dui. Libero enim sed faucibus turpis in eu mi. 
                p Sed nisi lacus sed viverra tellus in. Justo eget magna fermentum iaculis eu non diam. Faucibus nisl tincidunt eget nullam non nisi. Id ornare arcu odio ut sem nulla. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. 
                p Tortor id aliquet lectus proin nibh nisl condimentum. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Netus et malesuada fames ac turpis egestas. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam eleifend mi in nulla posuere sollicitudin Netus et malesuada fames ac turpis egestas.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Aliquam eleifend mi in nulla posuere sollicitudin Netus et malesuada fames ac turpis egestas.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Aliquam eleifend mi in nulla posuere sollicitudin Netus et malesuada fames ac turpis egestas.
